{:site-title           "DDFT.wiki"
 :author               "ddft.wiki contributors"
 :description          "The missing manual for Legacy Doomsday"
 :site-url             "https://ddftwiki.bitbucket.io/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        "posts-output"
 :page-root-uri        "pages-output"
 :tag-root-uri         "tags-output"
 :author-root-uri      "authors-output"
 :blog-prefix          ""
 :rss-name             "feed.xml"
 :rss-filters          ["cryogen"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             "css"
 :sass-path            "/bin/true"
 :compass-path         "/bin/false" ;; "compass"
 :theme                "ddftwiki"
 :resources            ["img"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            false
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {}
 ;; links for the sidebar
 :extra-links [["Storm Boards" "https://teamstormboards.proboards.com/"]
               ["/r/MTGLegacy" "https://reddit.com/r/mtglegacy/"]
               ["The Source"   "http://mtgthesource.com"]]
 ;; add yourself in if you'd like
 :authors              {"emidln" {:name "Brandon Adams"
                                  :twitter "emidln"
                                  :email "emidln+ddftwiki@gmail.com"
                                  :twitch "adam4300"}}
 :debug?               true}
